<footer class='footer__wrapper'>
  <div class='footer__inner'>
    <div class='footer__social-media'>
      <div class='footer__social-media__title'>

      </div>
    </div>
  </div>
</footer>

{{! Social media }}
{{! Info }}
{{! Công nghệ }}